@model ShopDemo.ViewModels.RestoreActivationLinkViewModel

@{
    ViewBag.Title = "Rejestracja konta nie została ukończona";
}

<h2>@ViewBag.Title</h2>

<p>
    Proces rejestracji Towjego konta nie zosatł jeszcze ukończony.

    Aby dokończyć rejestrację konta proszę zalogować się na swoją skrzynkę pocztową i kliknąć w przesłany link.
</p>

@using (Html.BeginForm("EmailIsNotConfirm", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    <br />
    <p>Jeśli nie możesz znaleść wiadomości z linkiem aktywacyjnym, wpisz swój adres e-mail i kliknij "Wyślij", aby przesłać ją ponownie.</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Wyślij" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
